<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>%%TITLE%%</title>
	<style>
		body {
			margin: 1em 0 0 0;
			text-align: center;
			background-color: #111;
			color: #ddddff;
		}
	</style>
</head>
<body>
	<pre>
%%CONTENT%%
	</pre>
</body>
</html>
